[MASTER]
good-names=IContainer,MinecraftManager,IMinecraftServer,MinecraftBedRockServer,MinecraftJavaServer,id,status,e
disable=broad-except,trailing-whitespace,consider-using-f-string,too-many-public-methods,redundant-unittest-assert,invalid-name